<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<section class="vh-100">

    <div class="container-fluid h-custom">

        <div class="row d-flex justify-content-center align-items-center h-100">

            <div class="col-md-9 col-lg-6 col-xl-5">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <a class="navbar-brand" href="#page-top">Estudiante:</a>
                <form th:if="${create}" th:action="@{/api/create}"  method="POST">
                    <div class="form-outline mb-4" th:if="!${create}">
                        <input type="text" id="form3Example8" class="form-control form-control-lg"
                               th:value="${studentUpdate.id}"  th:name="id" readonly />
                        <label class="form-label" for="form3Example3">Id</label>
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="text" th:if="${create}" id="form3Example3" class="form-control form-control-lg"
                               placeholder="Introduzca un usuario valido..." th:name="name"/>
                        <input type="text" th:if="!${create}" id="form3Example31" class="form-control form-control-lg"
                               th:value="${studentUpdate.name}" th:name="name"/>
                        <label class="form-label" for="form3Example3">Nombre</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="text" th:if="${create}" id="form3Example4" class="form-control form-control-lg"
                               placeholder="Enter Last name" th:name="lastname"/>
                        <input type="text" th:if="!${create}" id="form3Example41" class="form-control form-control-lg"
                               placeholder="Enter Last name" th:value="${studentUpdate.lastName}" th:name="lastname" />
                        <label class="form-label" for="form3Example4">Apellido</label>
                    </div>

                    <div class="form-outline mb-3">
                        <input type="text" th:if="${create}" id="form3Example5" class="form-control form-control-lg"
                               placeholder="Enter Phone Number" th:name="phone"/>
                        <input type="text" th:if="!${create}" id="form3Example51" class="form-control form-control-lg"
                               placeholder="Enter Phone Number" th:value="${studentUpdate.phone}" th:name="phone"/>
                        <label class="form-label" for="form3Example4">Telefono</label>
                    </div>




                    <div class="text-center text-lg-start mt-4 pt-2">

                        <div>
                            <input type="submit" /> <a th:href="@{/api/students}">Regresar</a>
                        </div>

                    </div>

                </form>
                <form th:if="!${create}" th:action="@{/api/update/}+${studentUpdate.id}"  th:method="PUT">
                    <div class="form-outline mb-4" th:if="!${create}">
                        <input type="text" id="form3Example82" class="form-control form-control-lg"
                               th:value="${studentUpdate.id}"  th:name="id" readonly />
                        <label class="form-label" for="form3Example3">Id</label>
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="text" th:if="${create}" id="form3Example32" class="form-control form-control-lg"
                               placeholder="Introduzca un usuario valido..." th:name="name"/>
                        <input type="text" th:if="!${create}" id="form3Example321" class="form-control form-control-lg"
                               th:value="${studentUpdate.name}" th:name="name"/>
                        <label class="form-label" for="form3Example3">Nombre</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="text" th:if="${create}" id="form3Example42" class="form-control form-control-lg"
                               placeholder="Enter Last name" th:name="lastname"/>
                        <input type="text" th:if="!${create}" id="form3Example421" class="form-control form-control-lg"
                               placeholder="Enter Last name" th:value="${studentUpdate.lastName}" th:name="lastname" />
                        <label class="form-label" for="form3Example4">Apellido</label>
                    </div>

                    <div class="form-outline mb-3">
                        <input type="text" th:if="${create}" id="form3Example25" class="form-control form-control-lg"
                               placeholder="Enter Phone Number" th:name="phone"/>
                        <input type="text" th:if="!${create}" id="form3Example521" class="form-control form-control-lg"
                               placeholder="Enter Phone Number" th:value="${studentUpdate.phone}" th:name="phone"/>
                        <label class="form-label" for="form3Example4">Telefono</label>
                    </div>




                    <div class="text-center text-lg-start mt-4 pt-2">

                        <div>
                            <input type="submit" /> <a th:href="@{/api/home}">Regresar</a>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
    <div
            class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
            Copyright © 2020. All rights reserved.
        </div>
        <!-- Copyright -->

        <!-- Right -->
        <div>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="#!" class="text-white">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        <!-- Right -->
    </div>
</section>